.prod-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    

   
    
    
    
    
}

.prod {
    border: 2px solid greenyellow;
    padding: 15px;
    
}


.prod2 {
    border: 2px dotted rgb(255, 113, 47);
    padding: 15px;
    
}